<div class="container">
<h3>Quienes somos</h3> 

<p><img src="https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg?auto=compress&cs=tinysrgb&w=600" />Lorem Ipsum
    "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa tortor, vulputate vitae rhoncus ut, laoreet vel nunc.
     Aenean tempor elit quam, egestas congue quam blandit sed. Aenean sed nisl dictum, tempus purus a, vestibulum massa.
      Suspendisse volutpat imperdiet ex sit amet malesuada. Pellentesque tortor tortor, venenatis in lorem vitae, feugiat tincidunt augue. Vivamus tincidunt magna ac nulla tincidunt gravida. Etiam sed nunc mi.
      Donec nec augue non mauris euismod auctor non nec massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer sit amet nulla vitae velit porttitor interdum in et velit. Mauris eget metus mattis, tempus urna ut, aliquet ipsum. Pellentesque non tincidunt dolor, non tincidunt erat. Mauris interdum commodo risus, sed placerat risus. Fusce ac nibh sapien. Donec tortor dolor, rhoncus nec nisl nec, fermentum rhoncus neque. Proin non pellentesque ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas euismod sem id leo hendrerit, ut elementum ligula imperdiet. Cras sagittis, nisl et porttitor semper, eros justo commodo ante, sit amet euismod felis arcu eu ex. Maecenas elementum maximus eros, sed dignissim diam dictum at.</p>

</div>

<div class="container">

<p>
    
    Sed volutpat venenatis ex non luctus. Mauris dictum mollis risus, at porta mi aliquam semper. Nullam ornare nunc nec felis elementum, a ultricies dolor interdum. Mauris eleifend, enim non vehicula mattis, tortor nisi dictum felis, ut imperdiet ipsum mauris vitae justo. Cras eget mollis turpis, eu viverra dui. Curabitur mattis quis ipsum at gravida. Duis vel lectus dictum, laoreet tellus nec, accumsan magna. Vestibulum iaculis odio ac justo vehicula posuere. Cras molestie imperdiet odio vel porttitor. Duis ut feugiat tortor, quis varius lorem. Donec a est enim. Sed ac nulla lectus. Pellentesque feugiat lorem eget sem accumsan, et dignissim magna imperdiet. Sed mattis urna vel felis finibus maximus.
    
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed finibus, elit ac finibus pharetra, risus dolor molestie elit, et gravida nisi justo ac turpis. Proin volutpat non orci ultrices aliquet. Proin efficitur gravida est, id mollis nunc maximus vel. Nullam vulputate accumsan libero sit amet viverra. Fusce iaculis consectetur sapien quis maximus. Praesent pharetra tortor vel venenatis sodales. Nunc dictum elementum tortor, faucibus rutrum ex venenatis sed. Curabitur sem ligula, volutpat eu pellentesque eu, consectetur id mauris. Nulla pulvinar nulla non scelerisque dignissim. Duis nec bibendum felis. Suspendisse eleifend egestas tellus quis accumsan. Etiam vitae orci eros.
    
    Nunc id neque non tellus sodales rutrum vitae a eros. Suspendisse lacus ligula, rhoncus non diam vitae, facilisis lobortis tellus. Morbi non leo facilisis, euismod nunc eget, vestibulum erat. Nulla dignissim placerat pulvinar. Donec aliquet tincidunt dolor, ac ornare neque mollis at. Vestibulum vulputate scelerisque sapien, vel rutrum dolor ultricies eget. Curabitur placerat nulla nunc, a vestibulum nisl congue non. Aenean in faucibus velit. Nullam volutpat egestas libero, quis tempor nibh efficitur eget. Maecenas rhoncus nisl eu ex iaculis, id placerat lorem semper. Morbi in pellentesque sem. In dui mi, suscipit quis magna in, venenatis consequat quam. Nulla posuere tellus eget mi pretium, quis egestas nulla vestibulum. Cras consectetur pretium justo non feugiat. Sed tempus lobortis risus, ut facilisis nibh ultricies at.</p>

    <div style="text-align: center; margin-top: 30px">
        <button class="btn btn-primary" (click)="volverHome()" style="margin-top: 50px;">Ir a home</button>
      </div>
</div>

  